.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.header {
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
}
.btn {
  -webkit-app-region: no-drag;
}
.miniBtn {
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: .3s background ease;
}
.miniBtn:hover {
  background-color: #23272f;
}
.miniBtn:active {
  background-color: #111215;
}
.closeBtn {
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: .3s background ease;
}
.closeBtn:hover {
  background-color: #ff4d4d
}
.closeBtn:active {
  background-color: #ff4d4d;
}

.App-content {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
